# Bins
build/
# Hidden
.*
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cleanup proj1
proj1/cmake
proj1/include/tbb-4.4
proj1/logcache
proj1/report
proj1/suppressTSan.list

